.button{
WIDTH:100%;
HEIGHT:45PX;
BACKGROUND:#FFF;
BORDER:NONE;
OUTLINE:NONE;
BORDER-RADIUS:40PX;
BOX-SHADOW:0 0 10PX RGDA(0,0,0,.1);
CURSOR:POINTER;
FONT-SIZE:16PX;
COLOR:333;
FONT-WEIGHT:600;
}

BODY{
DISPLAY:FLEX;
JUSTIFY-CONTENT:CENTER;
ALIGN-ITEMS:CENTER;
MIN-HEIGHT:90VH;
BACKGROUND-IMAGE:URL(LOGIMG1.JPG);
BACKGROUND-SIZE:COVER;
BACKGROUND-POSITION:CENTER;
}

.MAIN{
WIDTH:420PX;
BACKGROUND:TRANSPARENT;
BORDER:2PX SOLID RGBA(255,255,255, .2);
BACKDROP-FILTER:BLUR(19PX);
COLOR:#FFF;
BORDER-RADIUS:10PX;
PADDING:30PX 40PX;
}

H1{
color:333;
FONT-SIZE:40PX;
TEXT-ALIGN:CENTER;
FONT-FAMILY:"POPPINS", SANS-SERIF;
}

.MAIN .INPUT-BOX{

WIDTH:100%;
HEIGHT:50PX;
MARGIN:30PX 0;

}

.INPUT-BOX INPUT{
WIDTH:100%;
HEIGHT:100%;
BACKGROUND:TRANSPARENT;
BORDER:none;
OUTLINE:NONE;
BORDER:3PX SOLID RGBA(255,255,255, .2);
BORDER-RADIUS:30PX;
FONT-SIZE:18PX;
COLOR:333;
PADDING:20PX 45PX 20PX 20PX;
}

.INPUT-BOX INPUT::PLACEHOLDER{
COLOR:333;
}

.MAIN .LAST{
DISPLAY:FLEX;
JUSTIFY-CONTENT:SPACE-BETWEEN;
FONT-SIZE:14PX;
MARGIN:-15PX 0 15PX;
}

.LAST LABEL INPUT{
ACCENT-COLOR:#FFF;
MARGIN-RIGHT:3PX;
}

.LAST A{
COLOR:#FFF;
TEXT-DECORATION:NONE;
}

.LAST A:HOVER{
TEXT-DECORATION:UNDERLINE;
}

.MAIN .LINE{
FONT-SIZE:14PX;
TEXT-ALIGN:CENTER;
MARGIN:20PX 0 15PX;
}

.LINE P A {
COLOR:#FFF;
TEXT-DECORATION:NONE;
FONT-WEIGHT:600;
}

.LINE P A:HOVER{
TEXT-DECORATION:UNDERLINE;
}
