BODY{
DISPLAY:FLEX;
BACKGROUND-IMAGE:URL(regimg1.jpg);
BACKGROUND-SIZE:COVER;
BACKGROUND-POSITION:CENTER;
JUSTIFY-CONTENT:CENTER;
MIN-HEIGHT:100VH;
}

.MAIN{
WIDTH:400PX;
HEIGHT:90%;
BACKGROUND:TRANSPARENT;
BORDER:2PX SOLID RGBA(255,255,255, .2);
BACKDROP-FILTER:BLUR(50PX);
COLOR:#FFF;
PADDING:30PX 40PX;
box-shadow:0 0 15px RGBA(0, 0, 0.2);
BORDER-RADIUS:10PX;
}

SELECT,INPUT{
WIDTH:100%;
HEIGHT:61PX;
BACKGROUND:TRANSPARENT;
BORDER:NONE;
OUTLINE:NONE;
BORDER:3PX SOLID RGBA(255,255,255, .2);
BORDER-RADIUS:30PX;
FONT-SIZE:15PX;
COLOR:333;
PADDING:20PX 45PX 20PX 20PX;
}

INPUT::PLACEHOLDER{
COLOR:333;
}

.button{
WIDTH:90%;
HEIGHT:40PX;
BACKGROUND:#BFE8FF;
BORDER:NONE;
OUTLINE:NONE;
BORDER-RADIUS:40PX;
BOX-SHADOW:0 0 10PX RGDA(0,0,0,.1);
CURSOR:POINTER;
FONT-SIZE:16PX;
COLOR:333;
FONT-WEIGHT:600;
}